@{
    Layout = "_SecondLayout";
    ViewData["Title"] = "Chi tiết đặt hàng";
}
<link rel="stylesheet" href="~/css/admin_order.css">
<link rel="stylesheet" href="~/css/checkout.css">
<div class="app__container hide-on-mobile">
    <div class="admin-order">
        <div class="grid wide">
            <div class="admin-order__times">
                <div class="admin-order__times-title">Đơn hàng sẽ được xác nhận sau: </div>
                <div class="admin-order__times-value">30:00</div>
            </div>
            <div class="checkout__label">
                <div class="checkout__label-box"></div>
            </div>
            <div class="checkout__address">
                <div class="checkout__address-title">
                    <i class="uil uil-map-marker checkout__address-title-icon"></i>
                    <span>Địa chỉ nhận hàng</span>
                </div>
                <div class="checkout__address-desc">
                    
                </div>
            </div>
            <div class="checkout__list">
                
            </div>
            <div class="checkout__payment">
                <div class="checkout__payment-header admin-order__payment-header">
                    <div class="checkout__payment-header-sub">Phương thức thanh toán</div>
                    <div class="checkout__payment-header-name">
                        
                    </div>
                </div>
                <div class="admin-order__status">
                    <div class="checkout__payment-header-sub">Trạng thái đơn hàng</div>
                    <div class="checkout__payment-header-name">Chờ xác nhận</div>
                </div>
                <div class="checkout__payment-money">
                    
                </div>
                <div class="checkout__payment-order">
                    <div class="checkout__payment-order-btn">
                        <button type="button" class="btn btn--primary checkout__payment-order-btn-container" onclick="confirmOrder()">
                            <div class="checkout__payment-order-btn-spinner hide-on-destop"></div>
                            Xác nhận đơn
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/admin_order.js"></script>