<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMe - @ViewData["Title"]</title>
    <link rel="sortcut icon" href="~/img/sme_icon_primary.png">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/site_user.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--=============== ICONSCOUT ===============-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css" />
</head>
<body>
    <div class="app hight">
        <header class="header">
            <div class="grid wide">
                <div class="header__mobile hide-on-destop">
                    <div class="header__mobile-arrow" onclick="backHistory()">
                        <i class="uil uil-arrow-left header__mobile-arrow-icon"></i>
                    </div>
                    <div class="header__mobile-title">@ViewData["Title"]</div>
                    <div class="header__mobile-question">
                        <i class="uil uil-question-circle header__mobile-question"></i>
                    </div>
                </div>
                <div class="header__text hide-on-mobile">
                    <div class=" header__text-logo">
                        <a href="/" class="header__text-link">
                            <img class="header__logo-img" src="~/img/sme_logo_primary.png" alt="ShopeeMe Logo">
                        </a>
                    </div>
                    <h2 class="header__text-name">@ViewData["Title"]</h2>
                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer class="footer hide-on-destop hide-on-user-portal">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">VanCong Shop Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-linkedin"></i>
                                    Linking
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Thep dõi khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Shopee Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-12 m-4">
                        <h3 class="footer__heading">Vào cửa hàng Shopee</h3>
                        <div class="footer__download">
                            <img src="~/img/qr_code.png" alt="" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/google_play.png" alt="Google Play"
                                        class="footer__download-apps-img">
                                </a>
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/app-store.png" alt="App Store" class="footer__download-apps-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer__bottom">
            <div class="grid wide">
                <p class="footer__text">Đồ án tốt nghiệp - Chuyên ngành Công nghệ phần mềm - Đặng Văn Công</p>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <div class="modal__overlay">

    </div>
    <div class="modal__body">
        
    </div>
</div>
<div class="" id="toast">
        
</div>
<script src="~/js/site_user.js"></script>
</body>