@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sortcut icon" href="~/img/sme_icon_primary.png">
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/order_code.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--=============== ICONSCOUT ===============-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <title>SMe - Phiếu giao hàng</title>
</head>                     
<body>
    <div class="app">
        <div class="admin__table hide-on-mobile hide-on-destop">
            Sản phẩm chưa được tối ưu trên máy tính bảng, vui lòng sử dụng điện thoại và laptop 
            để có trả nghiệm tốt hơn!
        </div>
        <div class="admin__mobile hide-on-table hide-on-destop">
            Sản phẩm chưa được tối ưu trên điện thoại, vui lòng sử dụng điện thoại và laptop 
            để có trải nghiệm tốt hơn!
        </div>
        
        <div class="app__container hide-on-mobile">
            <div class="order-code">
                
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal__overlay">
    
        </div>
        <div class="modal__body">
            
        </div>
    </div>
    <div class="" id="toast">
        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"></script>
<script src="~/js/order_code.js"></script>
</html>