@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Đăng nhập Kênh người bán";
}
<link rel="stylesheet" href="~/css/seller.css">
<div class="app__container">
    <div class="seller-auth__sign-in">
        <div class="seller-auth hide-on-mobile hide-on-table">
            <div class="seller-auth__content grid wide">
                <div class="seller-auth__left">
                    <div class="seller-auth__title-container">
                        <div class="seller-auth__title">Bán hàng chuyên nghiệp</div>
                        <div class="seller-auth__title-sub">
                            <div class="seller-auth__title-sub-1">Quản lý shop của bạn một cách hiệu quả hơn</div>
                            <div class="seller-auth__title-sub-1">trên SMe với SMe - Kênh Người bán</div>
                        </div>
                        <img src="~/img/store_img.png" alt="" class="seller-auth__img">
                    </div>
                </div>
                <div class="seller-auth__right">
                    <div class="auth-form">
                        <form action="/User/Login" method="post" class="auth-form__container">
                            <div class="auth-form__header">
                                <h3 class="auth-form__heading">Đăng nhập</h3>
                            </div>
                            <div class="auth-form__form">
                                <div class="auth-form__group">
                                    <input type="text" class="auth-form__input seller-auth__input-phone" placeholder="Số điện thoại của bạn" />
                                    <div class="auth-msg auth-msg__err seller-auth__msg-phone hide-on-destop"></div>
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input seller-auth__input-password" placeholder="Mật khẩu" />
                                    <div class="auth-msg auth-msg__err seller-auth__msg-password hide-on-destop"></div>
                                </div>
                            </div>
                            <div class="auth-form__aside">
                                <div class="auth-form__help">
                                    <a href="/seller/forgot" class="auth-form__help-link auth-form__help-link">Quên mật khẩu</a>
                                    <span class="auth-form__help-separate"></span>
                                    <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                                </div>
                            </div>
                            <div class="auth-form__controls">
                                <div class="auth-form__btn seller-auth__btn-submit">ĐĂNG NHẬP</div>
                            </div>
                        </form>
                        <div class="auth-form__or">
                            <div class="auth-form__or-line"></div>
                            <div class="auth-form__or-title">Hoặc</div>
                            <div class="auth-form__or-line"></div>
                        </div>
                        <div class="auth-form__socials">
                            <a href=""
                                class="auth-form__socials--facebook btn btn--size-s btn--size-color btn--with-icon">
                                <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                                <span class="auth-form__socials-title">
                                    Facebook
                                </span>
                            </a>
                            <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                                <i class="auth-form__socials-icon fab fa-google"></i>
                                <span class="auth-form__socials-title">
                                    Google
                                </span>
                            </a>
                        </div>
                        <div class="auth-form__footer">Bạn mới biết đến SMe? <a href="/seller/register" class="auth-form__footer-link">Đăng ký</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/seller_login.js"></script>
