@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Đổi mật khẩu";
}

@model ChangePasswordModel
<link rel="stylesheet" href="~/css/user.css">
<!--Login form-->
<div class="app__container">
    
</div>
<script src="~/js/user_change.js"></script>