@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Đổi mật khẩu";
}

@model ChangePasswordModel
<link rel="stylesheet" href="~/css/user.css">
<!--Login form-->
<div class="app__container">
    <div class="auth hide-on-mobile hide-on-table">
        <div class="auth__content grid wide">
            <div class="auth__left">
                <div class="auth__left-img">
                    <img src="~/img/shopeeme_cart_white_logo.png" class="auth__content-logo" alt="">
                </div>
                <div class="auth__left-sub">Nền tảng thương mại trưc tuyến</div>
            </div>
            <div class="auth__right">
                <div class="auth-form">
                    <form action="/user/change" method="post" class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">@ViewData["Title"]</h3>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="password" id="" asp-for="sOldPassword" class="auth-form__input" placeholder="Mật khẩu cũ" />
                                <span asp-validation-for="sOldPassword" class="auth-msg auth-msg__err"></span>
                            </div>
                            <div class="auth-form__group">
                                <input type="password" id="" asp-for="sNewPassword" class="auth-form__input" placeholder="Mật khẩu mới" />
                                <span asp-validation-for="sNewPassword" class="auth-msg auth-msg__err"></span>
                            </div>
                            <div class="auth-form__group">
                                <input type="password" id="" asp-for="sReNewPassword" class="auth-form__input" placeholder="Nhập lại mật khẩu mới" />
                                <span asp-validation-for="sReNewPassword" class="auth-msg auth-msg__err"></span>
                            </div>
                        </div>
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-link">Đăng nhập</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                            </div>
                        </div>
                        <div class="auth-form__result">
                            @if (TempData["result"] != null)
                            {
                                @TempData["result"]
                            }
                        </div>
                        <div class="auth-form__controls">
                            <a href="/user/login" class="btn auth-form__controls-back btn--normal">TRỞ LẠI</a>
                            @if (TempData["result"] == null)
                            {
                                <button type="submit" class="btn btn--primary btn__recover-pass">ĐỔI MẬT KHẨU</button>
                            }
                        </div>
                    </form>
                    <div class="auth-form__socials">
                        <a href="" class="auth-form__socials--facebook btn btn--size-s btn--size-color btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Facebook
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>