@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Quên mật khẩu";
}
@model ForgotViewModel
<link rel="stylesheet" href="~/css/user.css">
<!--Login form-->
<div class="app__container">
    
</div>
<script src="~/js/user_forgot.js"></script>

