@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Quên mật khẩu";
}
@model ForgotViewModel
<link rel="stylesheet" href="~/css/user.css">
<!--Login form-->
<div class="app__container">
    <div class="auth">
        <div class="auth__content grid wide">
            <div class="auth__left">
                <div class="auth__left-img">
                    <img src="~/img/shopeeme_cart_white_logo.png" class="auth__content-logo" alt="">
                </div>
                <div class="auth__left-sub">Nền tảng thương mại trưc tuyến</div>
            </div>
            <div class="auth__right">
                <div class="auth-form">
                    <form action="/user/forgot" method="post" class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">@ViewData["Title"]</h3>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" id="" asp-for="sEmail" class="auth-form__input" placeholder="Email của bạn" />
                                <span asp-validation-for="sEmail" class="auth-msg auth-msg__err"></span>
                            </div>
                        </div>
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="/user/change" class="auth-form__help-link auth-form__help-link">Đổi mật khẩu</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                            </div>
                        </div>
                        <div class="auth-form__result">
                            @if (TempData["result"] != null) {
                                @TempData["result"]
                            }
                            </div>
                        <div class="auth-form__controls">
                            <a href="/user/login" class="btn auth-form__controls-back btn--normal">TRỞ LẠI</a>
                            @if (TempData["result"] == null) {
                                <button type="submit" class="btn btn--primary btn__recover-pass">LẤY LẠI MẬT KHẨU</button>
                            }
                        </div>
                    </form>
                    <div class="auth-form__socials">
                        <a href="" class="auth-form__socials--facebook btn btn--size-s btn--size-color btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                            <span class="auth-form__socials-title">
                                Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fab fa-google"></i>
                            <span class="auth-form__socials-title">
                                Google
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

