@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Đăng nhập";
}
<link rel="stylesheet" href="~/css/user.css">
<!--Login form-->
<div class="auth__mobile hide-on-destop">
    
</div>
<div class="app__container">
    
</div>
<script src="~/js/user_login.js"></script>

