
@{
    ViewData["Title"] = "Hồ sơ của tôi";
}

@model ShopeeViewModel

@* Nếu ta khai báo cho nhưng model đơn lẻ thì có IEnumerable *@

<link rel="stylesheet" href="~/css/profile.css">

<div class="app__container">
    
</div>
<div class="modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            
        </div>
    </div>
<script src="~/js/profile.js"></script>