@{
    ViewData["Title"] = "Đơn mua";
}

<link rel="stylesheet" href="~/css/purchase.css">
<div class="app__container">
    <div class="grid wide">
        <div class="row">
            <div class="col l-2 m-0 c-0">
                <div class="profile__left">
                    <div class="profile__left-header">
                        <img src="~/img/profile_avatar.jpg" alt="" class="profile__left-avatar">
                        <div class="profile__left-account">
                            <div class="profile__left-account-name">vancong23012002</div>
                            <div class="profile__left-account-edit"><i class="uil uil-pen"></i>Chỉnh sửa</div>
                        </div>
                    </div>
                    <div class="profile__left-body">
                        <ul class="profile__left-list">
                            <li class="profile__left-item">
                                <a href="" class="profile__left-link">
                                    <i class="uil uil-user"></i> Tài khoản của tôi
                                </a>
                            </li>
                            <li class="profile__left-item">
                                <a href="" class="profile__left-link">
                                    <i class="uil uil-clipboard-notes"></i> Đơn mua
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col l-10 m-12 c-12">
                <div class="purchase">
                    <div class="purchase__header">
                        <ul class="purchase__header-list">
                            <li class="purchase__header-item active">
                                Tất cả
                            </li>
                            <li class="purchase__header-item">
                                Chờ thanh toán <span class="purchase__header-item-count purchase__header-item-wait-settlement-count">(1)</span>
                            </li>
                            <li class="purchase__header-item">
                                Vận chuyển <span class="purchase__header-item-count purchase__header-item-transiting-count">(1)</span>
                            </li>
                            <li class="purchase__header-item">
                                Chờ giao hàng <span class="purchase__header-item-count purchase__header-item-delivering-count">(1)</span>
                            </li>
                            <li class="purchase__header-item">
                                Hoàn thành <span class="purchase__header-item-count purchase__header-item-delivered-count">(1)</span>
                            </li>
                            <li class="purchase__header-item">
                                Đã huỷ
                            </li>
                            <li class="purchase__header-item">
                                Trả hàng/hoàn tiền
                            </li>
                        </ul>
                    </div>
                    <div class="purchase__all">
                        <div class="purchase__search">
                            <i class="uil uil-search purchase__search-icon"></i>
                            <input type="text" class="purchase__search-input"
                                placeholder="Bạn có thể tìm kiếm theo ID đơn hàng hoặc tên sản phẩm">
                        </div>
                        <div class="purchase__all-list">
                            
                        </div>
                        <div class="purchase__all-pagination">
                            
                        </div>
                    </div>
                    <div class="purchase__wait hide-on-destop hide-on-mobile">
                        
                    </div>
                    <div class="purchase__transport hide-on-destop hide-on-mobile">
                        
                    </div>
                    <div class="purchase__wait-delivery hide-on-destop hide-on-mobile">
                        
                    </div>
                    <div class="purchase__wait-delivered hide-on-destop hide-on-mobile">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/purchase.js"></script>