@model ShopeeViewModel
@{
    ViewData["Title"] = "Chi tiết";
}
<link rel="stylesheet" href="~/css/product_detail.css">
<div class="home__table hide-on-mobile hide-on-destop">
    Sản phẩm chưa được tối ưu trên máy tính bảng, vui lòng sử dụng điện thoại và laptop
    để có trả nghiệm tốt hơn!
</div>
<div class="app__container hide-on-table">
    <div class="detail">
        
    </div>
    <div class="grid wide">
        <div class="comment">
            <div class="comment__title">ĐÁNH GIÁ VÀ NHẬN XÉT SẢN PHẨM</div>
            <div class="rate">
                <div class="rate__header">
                    <div class="rate__title">
                        <div class="rate__title-point">4.8</div>
                        <div class="rate__title-total">/5</div>
                    </div>
                    <div class="rate__stars">
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star-half-alt"></i>
                    </div>
                    <div class="rate__evaluate">300 đánh giá</div>
                </div>
                <div class="rate__body">
                    <div class="rate__star">
                        <div class="rate__star-5-icon">
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                        </div>
                        <div class="rate__num-5-percent">
                            <div class="rate__bar">
                                <span class="rate__percent-box"></span>
                            </div>
                            <div class="rate__percent-count">226</div>
                        </div>
                    </div>
                    <div class="rate__star">
                        <div class="rate__star-4-icon">
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                        </div>
                        <div class="rate__num-4-percent">
                            <div class="rate__bar">
                                <span class="rate__percent-box"></span>
                            </div>
                            <div class="rate__percent-count">226</div>
                        </div>
                    </div>
                    <div class="rate__star">
                        <div class="rate__star-3-icon">
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                        </div>
                        <div class="rate__num-3-percent">
                            <div class="rate__bar">
                                <span class="rate__percent-box"></span>
                            </div>
                            <div class="rate__percent-count">226</div>
                        </div>
                    </div>
                    <div class="rate__star">
                        <div class="rate__star-2-icon">
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                        </div>
                        <div class="rate__num-2-percent">
                            <div class="rate__bar">
                                <span class="rate__percent-box"></span>
                            </div>
                            <div class="rate__percent-count">226</div>
                        </div>
                    </div>
                    <div class="rate__star">
                        <div class="rate__star-1-icon">
                            <i class="uis uis-star rate__icon"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                            <i class="uis uis-star rate__icon-blur"></i>
                        </div>
                        <div class="rate__num-1-percent">
                            <div class="rate__bar">
                                <span class="rate__percent-box"></span>
                            </div>
                            <div class="rate__percent-count">226</div>
                        </div>
                    </div>
                </div>
                <div class="rate__me">
                    <div class="rate__me-title">Đánh giá của bạn</div>
                    <div class="rate__me-stars">
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                        <i class="uis uis-star"></i>
                    </div>
                    <button class="btn btn--primary btn-evaluate">Gửi đánh giá</button>
                </div>
            </div>
            <div class="comment__body">
                <div class="comment__body-header">
                    <div class="comment__body-header-quantity">2.275 bình luận</div>
                    <div class="comment__body-header-sort">
                        <i class="uil uil-list-ui-alt comment__body-header-sort-icon"></i>
                        <div class="comment__body-header-sort-sub">Sắp xếp theo</div>
                        <div class="comment__body-header-sort-container">
                            <div class="comment__body-header-sort-item">Bình luận hàng đầu</div>
                            <div class="comment__body-header-sort-item">Mới nhất xếp trước</div>
                        </div>
                    </div>
                </div>
                <div class="comment__add">
                    <div class="comment__add-avatar" style="background-image: url(/img/profile_avatar.jpg);">
                    </div>
                    <div class="comment__add-desc">
                        <div class="comment__add-control">
                            <input type="text" placeholder="Phản hồi..." class="comment__add-input"
                                onclick="showCommentAddBtn()" onkeyup="changeCommentAddBtn(this)">
                        </div>
                        <div class="comment__add-btns">
                            <div class="comment__add-btn-felling">
                                <i class="uil uil-smile-beam comment__add-btn-felling-icon"></i>
                            </div>
                            <div class="comment__add-btn">
                                <div class="comment__add-btn-destroy" onclick="hideCommentAddBtn()">Huỷ</div>
                                <div class="comment__add-btn-reply">Phản hồi</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment__body-list">
                    <div class="comment__body-item">
                        <div class="comment__container">
                            <div class="comment__user">
                                <img src="~/img/profile_avatar.jpg" alt="" class="comment__user-img">
                                <p class="comment__username">Công Đặng</p>
                                <p class="comment__at">2 tuần trước</p>
                            </div>
                            <div class="comment__more">
                                <i class="uil uil-ellipsis-v comment__more-icon"></i>
                                <div class="comment__more-container">
                                    <div class="comment__more-item">
                                        <i class="uil uil-pen comment__more-item-icon"></i>
                                        <span>Chỉnh sửa</span>
                                    </div>
                                    <div class="comment__more-item">
                                        <i class="uil uil-trash comment__more-item-icon"></i>
                                        <span>Xoá</span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment__controls">
                                <div class="comment__like">
                                    <i class="uil uil-thumbs-up comment__like-icon"></i>
                                    <div class="comment__like-quantity">12</div>
                                </div>
                                <div class="comment__dislike">
                                    <i class="uil uil-thumbs-down comment__dislike-icon"></i>
                                    <div class="comment__dislike-quantity">12</div>
                                </div>
                                <div class="comment__reply" onclick="showReplyInput()">
                                    Phản hồi
                                </div>
                            </div>
                            <div class="comment__text">
                                <span class="comment__reply-to"></span>
                                <span class="comment__text-body">
                                    <span class="comment__reply-to">CôngĐặng</span> Ấn tượng! Mặc dù có vẻ như tính
                                    năng kéo có thể được cải thiện.
                                    Nhưng nhìn chung nó có vẻ đáng kinh ngạc. Bạn đã hoàn thành tốt
                                    thiết kế và khả năng phản hồi ở nhiều điểm dừng khác nhau hoạt
                                    động thực sự tốt.
                                </span>
                            </div>
                            <div class="comment__feetback">
                                <div class="comment__feetback-avatar"
                                    style="background-image: url(/img/profile_avatar.jpg);"></div>
                                <div class="comment__feetback-desc">
                                    <div class="comment__feetback-control">
                                        <input type="text" placeholder="Phản hồi..." class="comment__feetback-input"
                                            onkeyup="changeReplyBtn(this)">
                                    </div>
                                    <div class="comment__feetback-btns">
                                        <div class="comment__feetback-btn-felling">
                                            <i class="uil uil-smile-beam comment__feetback-btn-felling-icon"></i>
                                        </div>
                                        <div class="comment__feetback-btn">
                                            <div class="comment__feetback-btn-destroy" onclick="hideReplyInput()">Huỷ
                                            </div>
                                            <div class="comment__feetback-btn-reply">Phản hồi</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment__reply-quantity" onclick="showReplyDesc()">
                                <i class="uil uil-angle-down comment__reply-quantity-icon"></i>
                                <span>2 phản hồi</span>
                            </div>
                        </div>
                        <div class="comment__replies">
                            <div class="comment__container">
                                <div class="comment__user">
                                    <img src="~/img/profile_avatar.jpg" alt="" class="comment__user-img">
                                    <p class="comment__username">Công Đặng</p>
                                    <p class="comment__at">2 tuần trước</p>
                                </div>
                                <div class="comment__more">
                                    <i class="uil uil-ellipsis-v comment__more-icon"></i>
                                    <div class="comment__more-container">
                                        <div class="comment__more-item">
                                            <i class="uil uil-pen comment__more-item-icon"></i>
                                            <span>Chỉnh sửa</span>
                                        </div>
                                        <div class="comment__more-item">
                                            <i class="uil uil-trash comment__more-item-icon"></i>
                                            <span>Xoá</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment__controls">
                                    <div class="comment__like">
                                        <i class="uil uil-thumbs-up comment__like-icon"></i>
                                        <div class="comment__like-quantity">12</div>
                                    </div>
                                    <div class="comment__dislike">
                                        <i class="uil uil-thumbs-down comment__dislike-icon"></i>
                                        <div class="comment__dislike-quantity">12</div>
                                    </div>
                                    <div class="comment__reply">
                                        Phản hồi
                                    </div>
                                </div>
                                <div class="comment__text">
                                    <span class="comment__reply-to"></span>
                                    <span class="comment__text-body">
                                        <span class="comment__reply-to">CôngĐặng</span> Ấn tượng! Mặc dù có vẻ như tính
                                        năng kéo có thể được cải thiện.
                                        Nhưng nhìn chung nó có vẻ đáng kinh ngạc. Bạn đã hoàn thành tốt
                                        thiết kế và khả năng phản hồi ở nhiều điểm dừng khác nhau hoạt
                                        động thực sự tốt.
                                    </span>
                                </div>
                                <div class="comment__feetback">
                                    <div class="comment__feetback-avatar"
                                        style="background-image: url(/img/profile_avatar.jpg);"></div>
                                    <div class="comment__feetback-desc">
                                        <div class="comment__feetback-control">
                                            <input type="text" placeholder="Phản hồi..."
                                                class="comment__feetback-input">
                                        </div>
                                        <div class="comment__feetback-btns">
                                            <div class="comment__feetback-btn-felling">
                                                <i class="uil uil-smile-beam comment__feetback-btn-felling-icon"></i>
                                            </div>
                                            <div class="comment__feetback-btn">
                                                <div class="comment__feetback-btn-destroy">Huỷ</div>
                                                <div class="comment__feetback-btn-reply">Phản hồi</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment__container">
                                <div class="comment__user">
                                    <img src="~/img/profile_avatar.jpg" alt="" class="comment__user-img">
                                    <p class="comment__username">Công Đặng</p>
                                    <p class="comment__at">2 tuần trước</p>
                                </div>
                                <div class="comment__more">
                                    <i class="uil uil-ellipsis-v comment__more-icon"></i>
                                    <div class="comment__more-container">
                                        <div class="comment__more-item">
                                            <i class="uil uil-pen comment__more-item-icon"></i>
                                            <span>Chỉnh sửa</span>
                                        </div>
                                        <div class="comment__more-item">
                                            <i class="uil uil-trash comment__more-item-icon"></i>
                                            <span>Xoá</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment__controls">
                                    <div class="comment__like">
                                        <i class="uil uil-thumbs-up comment__like-icon"></i>
                                        <div class="comment__like-quantity">12</div>
                                    </div>
                                    <div class="comment__dislike">
                                        <i class="uil uil-thumbs-down comment__dislike-icon"></i>
                                        <div class="comment__dislike-quantity">12</div>
                                    </div>
                                    <div class="comment__reply">
                                        Phản hồi
                                    </div>
                                </div>
                                <div class="comment__text">
                                    <span class="comment__reply-to"></span>
                                    <span class="comment__text-body">
                                        <span class="comment__reply-to">CôngĐặng</span> Ấn tượng! Mặc dù có vẻ như tính
                                        năng kéo có thể được cải thiện.
                                        Nhưng nhìn chung nó có vẻ đáng kinh ngạc. Bạn đã hoàn thành tốt
                                        thiết kế và khả năng phản hồi ở nhiều điểm dừng khác nhau hoạt
                                        động thực sự tốt.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment__container">
                        <div class="comment__user">
                            <img src="~/img/profile_avatar.jpg" alt="" class="comment__user-img">
                            <p class="comment__username">Công Đặng</p>
                            <p class="comment__at">2 tuần trước</p>
                        </div>
                        <div class="comment__more">
                            <i class="uil uil-ellipsis-v comment__more-icon"></i>
                            <div class="comment__more-container">
                                <div class="comment__more-item">
                                    <i class="uil uil-pen comment__more-item-icon"></i>
                                    <span>Chỉnh sửa</span>
                                </div>
                                <div class="comment__more-item">
                                    <i class="uil uil-trash comment__more-item-icon"></i>
                                    <span>Xoá</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment__controls">
                            <div class="comment__like">
                                <i class="uil uil-thumbs-up comment__like-icon"></i>
                                <div class="comment__like-quantity">12</div>
                            </div>
                            <div class="comment__dislike">
                                <i class="uil uil-thumbs-down comment__dislike-icon"></i>
                                <div class="comment__dislike-quantity">12</div>
                            </div>
                            <div class="comment__reply">
                                Phản hồi
                            </div>
                        </div>
                        <div class="comment__text">
                            <span class="comment__reply-to"></span>
                            <span class="comment__text-body">
                                <span class="comment__reply-to">CôngĐặng</span> Ấn tượng! Mặc dù có vẻ như tính năng
                                kéo có thể được cải thiện.
                                Nhưng nhìn chung nó có vẻ đáng kinh ngạc. Bạn đã hoàn thành tốt
                                thiết kế và khả năng phản hồi ở nhiều điểm dừng khác nhau hoạt
                                động thực sự tốt.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/product_detail.js"></script>