@model ShopeeViewModel
@{
    ViewData["Title"] = "Chi tiết";
}
<link rel="stylesheet" href="~/css/product_detail.css">
<div class="home__table hide-on-mobile hide-on-destop">
    Sản phẩm chưa được tối ưu trên máy tính bảng, vui lòng sử dụng điện thoại và laptop
    để có trả nghiệm tốt hơn!
</div>
<div class="app__container hide-on-table">
    <div class="detail">
        
    </div>
    <div class="grid wide">
        <div class="comment">
            
        </div>
    </div>
</div>
<script src="~/js/product_detail.js"></script>