@model ShopeeViewModel

@{
    ViewData["Title"] = "Sản phẩm tương tự";   
}

<link rel="stylesheet" href="~/css/find_similar_product.css">
<div class="app__container hide-on-table">
    <div class="grid wide">
        <div class="similar-product__header">
            
        </div>
        <div class="home__suggest">
            <div class="suggest__header">
                <div class="suggest__title">Sản phẩm tương tự</div>
            </div>
            <div class="suggest__container">
                <div class="home-product">
                    <div class="row sm-gutter home-product__list">

                    </div>
                    <ul class="pagination home-product__pagination">
                        @* <li class="pagination-item">
                            <a href="" class="pagination-item__link">...</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/find_similar_product.js"></script>