@model ShopeeViewModel

@{
    ViewData["Title"] = "Trang chủ";
}

<link rel="stylesheet" href="~/css/home.css">

<div class="app__container hide-on-table">
    <div class="grid wide">
        <div class="banner">
            <div class="banner-container">
                <div class="banner-left">
                    <div class="banner-left-content">
                        <div class="banner-left-content__top">
                            <a href="/shop/3" class="banner-left-content__top-link"
                                style="background-image: linear-gradient(0, #dbcbf0, #f5eeff);">
                                <div class="banner__slider-mobile hide-on-destop">
                                    <div class="banner__slider-mobile-sale">
                                        <div class="banner__slider-mobile-title">Da căng nền sáng</div>
                                        <div class="banner__slider-mobile-title-sub">Sẵn sàng săn Deal</div>
                                        <div class="banner__slider-mobile-voucher">
                                            <div class="banner__slider-mobile-voucher-name">Ưu đãi</div>
                                            <span>50%</span>
                                        </div>
                                        <div class="banner__slider-mobile-voucher-time">Duy nhất 3.6</div>
                                    </div>
                                    <div class="banner__slider-mobile-shop">
                                        <div class="banner__slider-mobile-shop-name">
                                            <div class="banner__slider-mobile-shop-name-title">LANEIGE</div>
                                            <span>Officical</span>
                                        </div>
                                        <div class="banner__slider-mobile-shop-img">
                                            <img class="banner__slider-mobile-shop-img-product"
                                                src="~/img/shop/laneige/bo_san_pham_laneige.png" alt="">
                                            <img class="banner__slider-mobile-shop-img-beauty"
                                                src="~/img/shop/laneige/my_pham_action.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="banner__slider hide-on-mobile">
                                    <div class="banner__slider-left">
                                        <div class="banner__slider-shop">
                                            <div class="banner__slider-shop-name">LANEIGE</div>
                                        </div>
                                        <div class="banner__slider-title">Tiêu chuẩn phái đẹp</div>
                                        <div class="banner__slider-sale">Sale up to 50%</div>
                                        <div class="banner__slider-title-time">
                                            11/6 - 20/6
                                        </div>
                                        <div class="banner__slider-btn">Xem thêm</div>
                                        <img class="banner__slider-img-sale"
                                            src="~/img/shop/laneige/bo_san_pham_laneige.png"></img>
                                    </div>
                                    <div class="banner__slider-right">
                                        <img class="banner__slider-beauty" src="~/img/shop/laneige/my_pham_action.png"></ìm>
                                    </div>
                                </div>
                            </a>

                            <a href="/shop/2" class="banner-left-content__top-link"
                                style="background-image: linear-gradient(0, #e375b5 ,#e8b0d0);">
                                <div class="banner__slider-mobile hide-on-destop">
                                    <div class="banner__slider-mobile-sale">
                                        <div class="banner__slider-mobile-title">Tiện ích cho cuộc sống</div>
                                        <div class="banner__slider-mobile-title-sub">Sẵn sàng săn Deal</div>
                                        <div class="banner__slider-mobile-voucher">
                                            <div class="banner__slider-mobile-voucher-name">Ưu đãi</div>
                                            <span>50%</span>
                                        </div>
                                        <div class="banner__slider-mobile-voucher-time">Duy nhất 3.6</div>
                                    </div>
                                    <div class="banner__slider-mobile-shop">
                                        <div class="banner__slider-mobile-shop-name">
                                            <div class="banner__slider-mobile-shop-name-title">Viet Mark</div>
                                            <span>Shop</span>
                                        </div>
                                        <div class="banner__slider-mobile-shop-img">
                                            <img class="banner__slider-mobile-shop-img-beauty"
                                                src="~/img/shop/vietmark/am_sieu_toc_1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="banner__slider hide-on-mobile">
                                    <div class="banner__slider-left">
                                        <div class="banner__slider-shop">
                                            <div class="banner__slider-shop-name">LANEIGE</div>
                                        </div>
                                        <div class="banner__slider-title">Tiêu chuẩn phái đẹp</div>
                                        <div class="banner__slider-sale">Sale up to 50%</div>
                                        <div class="banner__slider-title-time">
                                            11/6 - 20/6
                                        </div>
                                        <div class="banner__slider-btn">Xem thêm</div>
                                        <!-- <img class="banner__slider-img-sale" src="/assets/img/bo_san_pham_laneige.png"></img> -->
                                    </div>
                                    <div class="banner__slider-right">
                                        <img class="banner__slider-product" src="~/img/shop/vietmark/am_sieu_toc_1.png"></ìm>
                                    </div>
                                </div>
                            </a>

                            <a href="/shop/1" class="banner-left-content__top-link">
                                <div class="banner__slider-mobile hide-on-destop">
                                    <div class="banner__slider-mobile-sale">
                                        <div class="banner__slider-mobile-title">Đồ công nghệ hiện đại</div>
                                        <div class="banner__slider-mobile-title-sub">Sẵn sàng săn Deal</div>
                                        <div class="banner__slider-mobile-voucher">
                                            <div class="banner__slider-mobile-voucher-name">Ưu đãi</div>
                                            <span>50%</span>
                                        </div>
                                        <div class="banner__slider-mobile-voucher-time">Duy nhất 3.6</div>
                                    </div>
                                    <div class="banner__slider-mobile-shop">
                                        <div class="banner__slider-mobile-shop-name">
                                            <div class="banner__slider-mobile-shop-name-title">F4</div>
                                            <span>Shop</span>
                                        </div>
                                        <div class="banner__slider-mobile-shop-img">
                                            <img class="banner__slider-mobile-shop-img-beauty"
                                                src="~/img/shop/f4shop/dong_ho_1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="banner__slider hide-on-mobile">
                                    <div class="banner__slider-left">
                                        <div class="banner__slider-shop">
                                            <div class="banner__slider-shop-name">LANEIGE</div>
                                        </div>
                                        <div class="banner__slider-title">Tiêu chuẩn phái đẹp</div>
                                        <div class="banner__slider-sale">Sale up to 50%</div>
                                        <div class="banner__slider-title-time">
                                            11/6 - 20/6
                                        </div>
                                        <div class="banner__slider-btn">Xem thêm</div>
                                        <!-- <img class="banner__slider-img-sale" src="/assets/img/bo_san_pham_laneige.png"></img> -->
                                    </div>
                                    <div class="banner__slider-right">
                                        <img class="banner__slider-product" src="~/img/shop/f4shop/dong_ho_1.png"></ìm>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="banner-left-content__top-btn">
                            <i class="uil uil-angle-left banner-left-content__top-btn-icon banner-left-content__top-btn-icon-prev"></i>
                            <i class="uil uil-angle-right banner-left-content__top-btn-icon banner-left-content__top-btn-icon-next"></i>
                        </div>
                                
                        <div class="banner-left-content__bottom">
                            <div class="banner-left-content__bottom-pagination">

                            </div>
                        </div>
                        <div class="banner-left-content__loading"></div>
                    </div>
                </div>
                <div class="banner-right">
                    <div class="banner-right__content">
                        <div class="banner-right__content-top"
                            style="background-image: linear-gradient(0, #abbfca, #c7dae4);">
                            <div class="banner__voucher">
                                <div class="banner__voucher-expiry">
                                    <div class="banner__voucher-time">6.6</div>
                                    <div class="banner__voucher-day">Còn 2 ngày</div>
                                </div>
                                <div class="banner__voucher-left">
                                    <div class="banner__voucher-discount-now">Giảm ngay</div>
                                    <div class="banner__voucher-money">50.000đ</div>
                                    <div class="banner__voucher-weekly">Thứ 3 hàng tuần</div>
                                </div>
                                <div class="banner__voucher-right">
                                    <div class="banner__voucher-pay">
                                        <span>S</span> Pay
                                    </div>
                                    <img class="banner__voucher-img-ticket" src="~/img/airline_ticket.png"></ìm>
                                    <img class="banner__voucher-img-vali" src="~/img/vali.png"></img>
                                    <div class="banner__voucher-title">Đặt vé máy bay trong nước</div>
                                </div>
                            </div>
                            <div class="banner-right__content-top-loading"></div>
                        </div>
                        <div class="banner-right__content-bottom"
                            style="background-image: linear-gradient(0, #efc9be, #f3d4cb);">
                            <div class="banner__voucher">
                                <div class="banner__voucher-expiry">
                                    <div class="banner__voucher-time">6.6</div>
                                    <div class="banner__voucher-day">Còn 2 ngày</div>
                                </div>
                                <div class="banner__voucher-left">
                                    <div class="banner__voucher-discount-now">Giảm ngay</div>
                                    <div class="banner__voucher-money">50.000đ</div>
                                    <div class="banner__voucher-weekly">Thứ 3 hàng tuần</div>
                                </div>
                                <div class="banner__voucher-right">
                                    <div class="banner__voucher-pay">
                                        <span>S</span> Pay
                                    </div>
                                    <img class="banner__voucher-img-ticket" src="~/img/airline_ticket.png"></ìm>
                                    <img class="banner__voucher-img-vali" src="~/img/vali.png"></img>
                                    <div class="banner__voucher-title">Đặt vé máy bay trong nước</div>
                                </div>
                            </div>
                            <div class="banner-right__content-bottom-loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="store">
            <div class="store__header">
                <div class="store__header-title">Cửa hàng</div>
                <div class="store__header-arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="store__mobile hide-on-destop">
                <div class="store__mobile-list">
                    
                </div>
            </div>
            <div class="store__body hide-on-mobile">
                <div class="row sm-gutter home-store__list">
                    
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category__header">
                <div class="category__header-title">Danh mục</div>
                <div class="category__header-arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="category__mobile hide-on-destop">
                <div class="category__mobile-list">
                    
                </div>
            </div>
            <div class="category-container hide-on-mobile">
                <div class="category-content">
                    <ul class="row sm-gutter category-list">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="home-suggest">
            <div class="suggest__header">
                <div class="suggest__title">Gợi ý hôm nay</div>
            </div>
            <div class="suggest__container">
                <div class="home-product">
                    <div class="row sm-gutter product__container">
                        
                    </div>
                </div>
            </div>
            <div class="home-suggest__more">
                <a href="/home/suggest" class="home-suggest__more-link">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<script src="~/js/main.js"></script>
<script src="~/js/main_loading.js"></script>



