@model ShopeeViewModel
@{
    Layout = "_SecondLayout"; 
    ViewData["Title"] = "Giỏ hàng";
} 
<link rel="stylesheet" href="~/css/cart.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
<div class="app__container hide-on-table">
    <div class="grid wide">
        <div class="cart">
            <div class="cart__destop">

            </div>
            <div class="cart__mobile hide-on-destop">
                <div class="cart__mobile-list">
                    
                </div>
                <div class="cart__mobile-checkout">
                    <div class="cart__mobile-checkout-voucher">
                        <div class="cart__mobile-checkout-voucher-title">
                            <i class="uil uil-ellipsis-v cart__mobile-checkout-voucher-icon-more"></i>
                            <span>Thêm Shop Voucher</span>
                        </div>
                        <div class="cart__mobile-checkout-voucher-code">
                            <span>Chọn hoặc nhập mã</span>
                            <i class="uil uil-angle-right-b cart__mobile-checkout-voucher-icon-arrow"></i>
                        </div>
                    </div>
                    <div class="cart__mobile-checkout-money">
                        <div class="cart__mobile-checkout-money-left">
                            <div class="cart__mobile-item-box">
                                <input type="checkbox" class="cart__mobile-item-input" name="" id="">
                            </div>
                            <span>Chọn tất cả</span>
                        </div>
                        <div class="cart__mobile-checkout-money-right">
                            <div class="cart__mobile-checkout-money-text">
                                Tổng số tiền: <span>0đ</span>
                            </div>
                            <div class="cart__mobile-checkout-money-btn">Thanh toán</div>
                            <div class="cart__mobile-checkout-money-btn-delete" onclick="openDeleteAllModal()">Xoá</div>
                        </div>
                    </div>
                </div>
                <div class="cart__like">
                    <div class="cart__like-title">Có thể bạn cũng thích</div>
                    <div class="home-product">
                        <div class="row sm-gutter cart__like-product-list">

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--Modal layoyt-->
<div class="cart__message">

</div>

<div class="cart__delete-loading">
    <div class="modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            <div class="spinner"></div>
        </div>
    </div>
</div>

<script src="~/js/cart.js"></script>