/* Screen Container */
/* Tool Bar */
.phone-toolbar {
    height: 30px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.phone-toolbar__time {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}

.phone-toolbar__right {
    display: flex;
    column-gap: 8px;
    margin-top: 4px;
}

.phone-toolbar__wave {
   display: flex;
   align-items: end;
   column-gap: 2px;
}

.phone-toolbar__wave-1 {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 1px;
}

.phone-toolbar__wave-2 {
    display: block;
    width: 4px;
    height: 6px;
    background-color: #000;
    border-radius: 1px;
}

.phone-toolbar__wave-3 {
    display: block;
    width: 4px;
    height: 8px;
    background-color: #000;
    border-radius: 1px;
}

.phone-toolbar__wave-4 {
    display: block;
    width: 4px;
    height: 11px;
    background-color: #ccc;
    border-radius: 1px;
}

.phone-toolbar__battery {
    position: relative;
    height: 12px;
    width: 24px;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.phone-toolbar__battery-percent {
    height: 9px;
    width: 20px;
    background-color: #000;
    border-radius: 2px;
    margin-left: .5px;
}

.phone-toolbar__battery::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: #ccc;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1px;
}

/* Header */
.phone-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(#fff, #fff);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.phone-header__logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.phone-header__title {
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.phone-header__logo-img {
    height: 26px;
}

.phone-header__with-search {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.phone-header__search {
    z-index: 1;
    padding: 0;
    flex: 1;
    /* display: flex; */
    align-items: center;
    animation: mobileSearchSideIn linear 0.3s;
}

.phone-header__search-input-wrap {
    height: 40px;
    width: 100%;
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 2px;
}

.phone-header__search-input-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.phone-header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    background-color: #f3f3f3;
}

.phone-header__cart-wrap {
    position: relative;
}

.phone-header__cart-link {
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.phone-header__cart-icon {
    color: var(--primary-color);
    font-size: 24px;
    margin-top: 6px;
}

.phone-header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 20px;
    padding: 2px 4px;
    color: var(--primary-color);
    background-color: var(--white-color);
    line-height: 20px;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    font-size: var(--normal-font-size);
}

.phone-header__user-avatar {
    position: relative;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-left: 12px;
}

.phone-header__mobile-user-avatar-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.phone-header__navbar-user-menu {
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    right: 0;
    padding-left: 0px;
    top: 100%;
    width: 160px;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    right: 0;
    box-shadow: 0 2px 10px #ccc;
}

.phone-header__navbar-user-menu::before {
    content: '';
    position: absolute;
    right: 4px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.phone-header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    font-size: 11px;
}

.phone-header__navbar-user-item:hover {
    background-color: #fafafa;
}

.phone-header__navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.phone-header__navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.phone-header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.phone-header__user-avatar-menu {
    display: none;
}

.phone-header__user-avatar:hover .phone-header__user-avatar-menu {
    display: block;
}

.phone-header__cart-item-img img {
    width: 48px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.phone-header__cart-list {
    font-size: var(--normal-font-size);
    position: absolute;
    top: calc(100% + 2px);
    right: -52px;
    background-color: var(--white-color);
    width: 286px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    margin-top: 4px;
    display: none;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    transform-origin: 90% top;
    cursor: default;
    z-index: 1;
}

@keyframes headerNotifyGrowth { 
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.phone-header__cart-list::before {
    content: '';
    position: absolute;
    right: 56px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.phone-header__cart-list::after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 30px;
    top: -16px;
    right: 50px;
    /* background-color: #ee4d2d; */
}

.phone-header__cart-wrap:hover .phone-header__cart-list {
    display: block;
}

.phone-header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-weight: 400;
    color: var(--text-color);
}

.phone-header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.phone-header__cart-item {
    display: flex;
    align-items: center;
}

.phone-header__cart-item:hover {
    background-color: #f8f8f8;
}

.phone-header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.phone-header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
}

.phone-header__cart-item-name {
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.phone-header__cart-item-price {
    font-weight: 400;
    color: var(--primary-color);
}

.phone-header__cart-item-multifly {
    font-size: 10px;
    margin: 0 4px;
    color: #757575;
}

.phone-header__cart-item-qnt {
    font-size: 12px;
    color: #757575;
}

.phone-header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.phone-header__cart-item-description {
    color: #757575;
    font-size: 12px;
    font-weight: 300;
}

.phone-header__cart-item-remove {
    color: var(--text-color);
    font-weight: 400;
}

.phone-header__cart-btn {
    display: flex;
    justify-content: flex-end;
    color: var(--white-color);
    margin: 12px 12px 12px auto;
    font-size: var(--normal-font-size);
}

/* Body */
.phone-pickup {
    margin: 10px 0px 0 0;
}

.phone-pickup__title {
    font-size: 14px;
    padding: 0 0 10px 10px;
}

.phone-pickup__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 0 4px;
}

.phone-pickup__item {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: all 300ms ease;
    cursor: pointer;
}

.phone-pickup__item-numb {
    color: var(--link-color);
    font-weight: bold;
    font-size: 14px;
}

.phone-pickup__item-numb-text {
    font-size: 10px;
}

/* Pickup work */
.phone-pickup__works {
    padding: 0 4px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.phone-pickup__work {
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: all 300ms ease;
    padding: 0 10px;
}

.phone-pickup__work-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: .5px solid var(--border-color);
}

.phone-pickup__work-row:last-child {
    border-bottom: 1px solid transparent;
}

.phone-pickup__work-col-1 {
    font-weight: bold;
}

.phone-pickup__work-link {
    color: var(--link-color);
    font-weight: bold;
}

.phone-header__pickup-bar-container {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
}

.phone-header__pickup-bar-arrow,
.phone-header__pickup-order-arrow {
    padding: 0 10px;
    cursor: pointer;
}

.phone-header__pickup-bar-arrow-icon,
.phone-header__pickup-order-arrow-icon {
    font-size: 30px;
    color: var(--primary-color);
}

.phone-header__pickup-bar-title,
.phone-header__pickup-order-title {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 16px;
    font-weight: bold;
}

/* Pickup Order */
.phone-pickup__order-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.phone-pickup__order-header-container {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
}

.phone-pickup__order-footer {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}

.phone-pickup__order-footer::before {
    position: absolute;
    content: "";
    background: linear-gradient(transparent, rgba(0, 0, 0, .06));
    height: 20px;
    width: 100%;
    left: 0;
    top: -20px;
}

.phone-header__pickup-order-footer-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: 13px;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
}

.phone-pickup__order-address {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 12px 10px;
    display: flex;
    column-gap: 10px;
    font-size: 10px;
    margin-top: 4px;
}

.phone-pickup__order-address-destination-icon {
    font-size: 18px;
    color: var(--primary-color);
}

.phone-pickup__order-address-desc-title {
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0 4px 0;
}

.phone-pickup__order-address-desc-divide {
    color: var(--border-color);
    margin: 0 4px;
}

.phone-pickup__order-address-desc-direction {
    margin-top: 3px;
    line-height: 16px;
}

.phone-pickup__order-label {
    background-color: var(--white-color);
}

.phone-pickup__order-label-box {
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size: 116px 3px;
    height: 2px;
    width: 100%;
}

.phone-pickup__order-product-list {
    margin-top: 8px;
}

.phone-pickup__order-product-item {
    font-size: 10px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}

.phone-pickup__order-product-item-header {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 12px 8px;
}

.phone-pickup__order-product-item-header-favorite {
    background-color: var(--primary-color);
    padding: 2px;
    border-radius: 2px;
    color: var(--white-color);
}

.phone-pickup__order-product-item-body {
    display: flex;
    column-gap: 12px;
    padding: 12px 8px;
}

.phone-pickup__order-product-item-thumb {
    flex: 2;
}

.phone-pickup__order-product-item-img {
    width: 100%;
}

.phone-pickup__order-product-item-info {
    flex: 8;
    color: #a2a2a2;
}

.phone-pickup__order-product-item-info-name {
    height: 20px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.phone-pickup__order-product-item-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.phone-pickup__order-product-item-bottom-change span {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 8px;
    border-radius: 2px;
}

.phone-pickup__order-product-item-numb {
    text-align: right;
}

.phone-pickup__order-product-item-numb-qunatity {
    margin-bottom: 3px;
}

.phone-pickup__order-product-item-transport {
    background-color: #fafdff;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.phone-pickup__order-product-item-transport-header {
    padding: 12px 8px 0 8px;
    font-size: 11px;
}

.phone-pickup__order-product-item-transport-type {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.phone-pickup__order-product-item-transport-type-sub {
    font-weight: bold;
}

.phone-pickup__order-product-item-transport-time {
    color: #a2a2a2;
    padding-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.phone-pickup__order-product-item-transport-inspection {
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.phone-pickup__order-product-item-transport-inspection-icon {
    font-size: 13px;
    color: rgba(0, 0, 0, .54);
}

.phone-pickup__order-product-item-into-money {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
}

.phone-pickup__order-product-item-into-money-price {
    color: var(--primary-color);
}

.phone-pickup__order-payment-type {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 12px 8px;
    margin-bottom: 4px;
    font-size: 10px;
}

.phone-pickup__order-payment-type-header {
    display: flex;
    justify-content: space-between;
}

.phone-pickup__order-payment-type-header-col {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.phone-pickup__order-payment-type-header-sub-icon {
    font-size: 16px;
    color: var(--primary-color);
}

.phone-pickup__order-payment-type-pay {
    padding: 10px;
    background-color: #fff8e4;
    border: 1px solid #f69113;
    color: #f69113;
    border-radius: 2px;
}

.phone-pickup__order-detail {
    background-color: var(--white-color);
    margin-bottom: 10px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 10px;
}

.phone-pickup__order-detail-header {
    display: flex;
    column-gap: 6px;
    align-items: center;
    font-size: 12px;
}

.phone-pickup__order-detail-header-icon {
    font-size: 16px;
    color: #f69113;
}

.phone-pickup__order-detail-body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.phone-pickup__order-detail-total-price-product, 
.phone-pickup__order-detail-transport-price {
    display: flex;
    justify-content: space-between;
    color: #a2a2a2;
}

.phone-pickup__order-detail-bottom {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.phone-pickup__order-detail-bottom-price {
    color: var(--primary-color);
    font-weight: bold;
}

.phone-pickup__order-list-title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
}

/* Phone Confirm */
.phone-modal__confirm {
    border-radius: 4px;
    font-size: 10px;
    background-color: var(--white-color);
}

.phone-modal__confirm-msg {
    padding: 20px 30px 20px 30px;
}

.phone-modal__confirm-btns {
    display: flex;
    border-top: 1px solid var(--border-color);
}

.phone-modal__confirm-btn-agree, 
.phone-modal__confirm-btn-no {
    flex: 1;
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
}

.phone-modal__confirm-btn-agree {
    border-left: 1px solid var(--border-color);
    color: var(--primary-color);
}

/* Add Image */
.phone-modal__add-img {
    border-radius: 4px;
    font-size: 10px;
    background-color: var(--white-color);
    padding: 16px 16px;
}

.phone-modal__add-img-title {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.phone-modal__add-img-check {
    display: flex;
    column-gap: 20px;
    margin-bottom: 16px;
}

.phone-modal__add-img-rb {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.phone-modal__add-img-input {
    height: 16px;
    width: 16px;
    accent-color: var(--primary-color);
    cursor: pointer;
}

.phone-modal__add-img-pic {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.phone-modal__add-img-value {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.phone-modal__add-img-pick {
    padding: 12px;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    border: 1px dashed var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}

.phone-modal__add-img-pick-icon {
    font-size: 24px;
}

.phone-modal__add-img-pick-file {
    display: none;
}

.phone-modal__add-img-btn {
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    background-color: var(--primary-color);
    margin-top: 16px;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
}

.phone-modal__add-img-btn:hover {
    opacity: .9;
}


/* Bottom Navigation */
.phone-bottom__navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.phone-bottom__navigation::before {
    position: absolute;
    content: "";
    background: linear-gradient(transparent, rgba(0, 0, 0, .06));
    height: 20px;
    width: 100%;
    left: 0;
    top: -20px;
}

.phone-bottom__navigation-list {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
}

.phone-bottom__navigation-item {
    flex: 1;
    text-align: center;
}

.phone-bottom__navigation-item-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.phone-bottom__navigation-item-text {
    font-size: 10px;
}

@media screen and (min-width: 992px) {  
    .hide-on-destop {
        display: none;
    }

    .phone-header__search {
        display: none;
    }
}