:root {
    --size: max(5px, 1vmin);
    --height: 80em;
    --pad: 1.25em;
    --border-radius: 6.666em;
    --gutter: calc(var(var(--pad) * 2));
    --button-width: 0.333em;
    --notch-height: 3.33em;
    --notch-width: 33.3%;
    --notch-radius: calc(var(--border-radius) - calc(var(--pad) * 2));
    --notch-duration: 0.333s;
    --ease: cubic-bezier(.666, 0, .4, 1);
    --ease-spring: cubic-bezier(.666, 0, .4, 1.2);
    --ease-out: cubic-bezier(.15, 0, .333, 1);
    --border-width: .4em;
    --deep-purple: 284;
    --gold: 30;
    --space-black: 215;
    --silver: 254;
    --c-h: var(--deep-purple);
    --c-s: 100%;
    --c-l: 50%;
}

@-webkit-keyframes appear {
    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes appear {
    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.app__phone {
    background: #00000a;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: var(--size);
}

.phone {
    position: relative;
    z-index: 1;
    aspect-ratio: 37/76;
    background: black;
    height: var(--height);
    border-radius: var(--border-radius);
    box-shadow: 0 0 .1em .25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
    box-sizing: border-box;
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
    -webkit-animation: appear 1s var(--ease-out) forwards;
    animation: appear 1s var(--ease-out) forwards;
    -webkit-backface-visibility: hidden;
}

.phone::before {
    content: "";
    position: absolute;
    top: var(--border-radius);
    right: calc(var(--border-width) * -1);
    bottom: calc(var(--border-radius));
    left: calc(var(--border-width) * -1);
    border: .5em solid hsl(var(--c-h), 20%, 30%);
    border-left-width: 0;
    border-right-width: 0;
}

.phone__buttons {
    position: absolute;
    inset: calc(var(--border-width) * -1);
    pointer-events: none;
}

.phone__buttons-left,
.phone__buttons-right {
    position: absolute;
    width: var(--button-width);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5em;
}

.phone__buttons-left {
    right: 100%;
    top: calc(var(--border-radius) * 2);
}

.phone__buttons-left-button:nth-child(1) {
    height: 3em;
    margin-bottom: .5em;
}

.phone__buttons-right {
    left: 100%;
    transform: scale3d(-1, 1, 1);
    top: calc(var(--border-radius) * 3);
}

.phone__buttons-right-button {
    height: 9.5em;
}

.phone__buttons-left-button,
.phone__buttons-right-button {
    background: hsl(var(--c-h), 20%, 95%);
    height: 6em;
    box-shadow: inset -0.15em 0 .1em black, inset 0 0 .1em hsl(var(--c-h), 30%, 90%), inset 0 .2em .1em hsl(var(--c-h), 30%, 90%), inset 0 -0.2em .1em 
    hsl(var(--c-h), 30%, 90%), inset -0.1em .333em .1em rgba(0, 0, 0, .5), inset -0.1em -0.333em .1em rgba(0, 0, 0, .5);
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}

.phone__screen-container {
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    border: var(--pad) solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--pad) * 2);
}

.phone__screen-container::before {
    content: "";
    position: absolute;
    z-index: 2;
    background: white;
    width: 36.6%;
    bottom: calc(var(--pad) * .75);
    height: calc(var(--pad) * .5);
    border-radius: calc(var(--pad));
    filter: drop-shadow(0 .1em .25em rgba(0, 0, 0, .1));
}

.phone__screen-bg {
    position: absolute;
    inset: 0;
    background: #f5f5f5;
    border-radius: calc(var(--border-radius) - var(--pad));
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.phone__screen-bg::-webkit-scrollbar {
    display: none;
}

.phone__notch-container {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: var(--pad);
    left: var(--pad);
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: calc(var(--notch-radius) * 2);
    pointer-events: none;
    outline: none;
    transition: var(--notch-duration) var(--ease);
    transition-property: max-height, max-width, filter, transform;
    will-change: max-width, max-height, filter;
}

.phone__notch {
    position: relative;
    background: black;
    border-radius: var(--notch-radius);
    overflow: hidden;
    color: white;
    display: flex;
    cursor: pointer;
    width: 100%;
    transition: inherit;
    transition-property: inherit;
    will-change: inherit;
    filter: drop-shadow(0 1em 2em hsla(0 0%/var(--shadow-opacity, 0)));
    transform: scale3d(.375, .4, 1);
    transform-origin: top;
}

.phone__camera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--notch-height);
    aspect-ratio: 1/1;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    z-index: 4;
    top: 12px;
    right: calc(50% - calc(var(--notch-width) * .5));
    margin-right: calc(var(--pad) * .333);
}

.phone__camera::before {
    content: "";
    height: 33.3%;
    aspect-ratio: 1;
    border-radius: inherit;
    box-shadow: inset 0 0 .25em #4c4da3;
    background: radial-gradient(#6667ac, transparent 50%) no-repeat 33.3% 10%/75% 50%, radial-gradient(#454680, transparent 50%) no-repeat 60% 85%/50% 50%;
    background-color: #080928;
}