* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app.hight {
    height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 80px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
}

.header__text {
    display: flex;
    align-items: center;
}

.header__text-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: var(--primary-color);
    padding: 10px;
}

.header__logo-img {
    height: 46px;
}

.header__text-name {
    font-size: 24px;
    margin-top: 14px;
}

/*Footer*/
.footer {
    border-top: 4px solid transparent;
    padding-top: 12px;
    background-color: #f5f5f5;
}

.footer__bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}